body {
    background-color: #0B132B;
    color: #EAEAEA;
    font-family: 'Inter', sans-serif; }
    body::-webkit-scrollbar {
        display: none; }

/* Start of Header Section */
.header {
    height: 150px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr)); }
    .header .logo {
        display: flex;
        align-items: center;
        justify-content: center; }
    .header .headings {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-column: 2 / span 2; }
        .header .headings .title {
            font-weight: 700;
            font-size: 40px; }
        .header .headings .subtitle {
            font-weight: 600;
            font-size: 24px; }
    .header .datetime {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        padding-inline-end: 1rem; }
        .header .datetime .headerDate,
        .header .datetime .headerTime {
                font-size: 20px;
                font-weight: 700; }
/* End of Header Section */

/* Start of Table Section */
#data-table-container {
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    /* border: 1px solid #EAEAEA; */
    margin-top: 20px; }
    #data-table-container::-webkit-scrollbar {
        display: none; }
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    /* margin-top: 18px; */ }
    thead {
        position: sticky;
        top: 0;
        background-color: #EAEAEA;
        color: black;
        height: 44px;
        z-index: 1; }
        th {
            font-size: 18px; }
    tbody tr {
        height: 60px; }
        td {
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            border: 1px solid #EAEAEA; }
@keyframes fadeRed {
    0%,
    100% {
        background-color: #0B132B; }
    50% {
        background-color: #FF4040; } }
    .indicator-red {
        animation: fadeRed 2s infinite; }
@keyframes fadeYellow {
    0%,
    100% {
        background-color: #0B132B; }
    50% {
        background-color: yellow; } }
    .indicator-yellow {
        animation: fadeGreen 2s infinite; }
/* End of Table Section */